[data-theme="dark"] {
--color-bg:             #1f1f1f;  // основной фон
--color-bg2:            #757575;  // второй фон
--color-bg2-opacity:    #5454547b;  // второй фон полупрозрачный
--color-bg3:            #FFFFFF;  // третий фон
--color-bg3-opacity:    #ffffff8b;  // третий фон полупрозрачный

--text-primary:         #e8e8e8;  // основной текст
--text-secondary:       #cdcdcd;  // второстепенный текст

--color-accent:         #F26522;  // акцентный цвет (оранжевый)
--color-accent-hover:   #FA7A2F;  // акцентный цвет при наведении
}